// Custom styles.

.post-body p a {
    color: #42b983;
    border: none;
}

.post-copyright a {
    border: none;
}

code {
    color: #e96900;
    background-color: #f8f8f8;
}

blockquote {
    border-left: 4px solid #42b983;
}

.post-toc ol a {
    text-decoration: none;
    border: none;
}

.post-toc ol a:hover {
    color: #fc6423;
}

.post-toc .nav .nav-child {
    display: block;
}

.popular-posts-title a {
    border: none;
}

.popular-posts-title a:hover {
    color: #fc6423;
}